* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.bordered {
  box-shadow: 0px 0px 0px 4px #FF6000 inset;
}

.rounded {
  border-radius: 8px;
}
  
.colored-prim {
  background-color: #d8dee9;
}

.padded {
  padding: 12px;
}

tooltip {
  background-color: rgba(34, 33, 56, 0.9);
  color: #FF6000;
}

.bar {
  color: #4e4e4e;
}

.workspaces {
  button {
    font-size: large;
    padding: 0.8em;

    &.inactive-workspace:hover {
      color: #FF6000;
    }

    &.active-workspace {
      box-shadow: 6px 0px 5px -5px rgb(232, 169, 87) inset,
      -6px 0px 5px -5px rgb(232, 169, 87) inset;
      color: #FF6000;
    }
  }
}

.time {
  border-radius: 0px 100px 100px 0;

  .clock-tick {
    font-size: large;
  }
}

.system {
  font-size: large;
  button:hover {
    color: #FF6000;
  }
}

// music widget
.music {
  margin-top: 1em;
  margin-bottom: 0.2em;
  padding: 0;
  
  color: rgba(34, 33, 56, .9);
}

.music-button {
  font-size: large;
  padding: 0.4em 0;
  border-radius: 2px;

  &:hover {
    box-shadow: 0px 0px 5px -5px #FF6000 inset,
      0px 0 5px -5px #FF6000 inset;
    color:  #FF6000;
  }
}

.music-player-label {
  font-family: "Jetbrains Mono";
  font-size: 1.1em;
  font-weight: 600;
}

.music-progress {
  scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 10px;
    min-width: 225px;
    margin-left: 0px;
    margin-right: 0px;

    highlight {
        all: unset;
        background-color: #FF6000;
        color: #000000;
        border-radius: 10px;
    }
  }
}

.notify-date {
  font-family: "FiraCode", sans-serif;
  text-shadow: 0px 2px 4px #fffcf9;
  color: #FF6000;
  font-size: 5em;
  background-image: url("HOME_WALL");
  background-size:cover;
}