* {
  all: unset; // Unsets everything so you can style everything from scratch
}
  
scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 5px;
  min-width: 200px;
  margin-left: 0px;
  margin-right: 0px;
}

scale trough highlight {
  all: unset;
  background-color: rgb(202, 55, 131);
  color: #000000;
  border-radius: 10px;
}

.biggie {
  font-size: x-large;
}

//Global Styles
.bar {
  color: #f8efef;
}

.system {
  color: rgb(202, 55, 131);

  background-color: rgba(158, 55, 202, 0.5);
  border-radius: 4px;
  padding: 8px;

  color: #f8efef;

  button:hover {
    color: rgb(202, 55, 131);
  }
}

.time {
  padding: 2em 0;
  border-radius: 0px 100px 100px 0;
}

.bubbly {
  background-color: rgba(34, 33, 56, 0.7);

  box-shadow: 0px 0px 0px 4px rgb(202, 55, 131) inset;
}

.roundy {
  border-radius: 50px;
}

.workspaces {
  margin-top: 2em;
  padding: 0.5em;

  button {
    font-size: x-large;
    padding: 0.3em 0.65em;
    border-radius: 40px;
  }
}

button.inactive-workspace:hover, .active-workspace {
  box-shadow: 9px 5px 4px -5px rgb(158, 55, 202) inset,
    -9px 0 4px -5px rgb(158, 55, 202) inset;

  background-color: rgba(34, 33, 56, 0.7);
}

.inactive-workspace {
  box-shadow: -9px 5px 7px -5px rgba(34, 33, 56, 1) inset,
    9px 0 4px -5px rgba(34, 33, 56, 1) inset;
}
  

tooltip {
  background-color: rgba(34, 33, 56, 0.7);
}

.music {
  margin-top: 1em;
  margin-bottom: 0.2em;
  border-radius: 0 10px 10px 0;
  padding: 0;
  background-color: rgba(34, 33, 56, .9);
}

.music-button {
  font-size: large;
  padding: 0.4em 0;
  border-radius: 2px;

  &:hover {
    box-shadow: 0px 0px 4px -5px rgb(158, 55, 202) inset,
      0px 0 4px -5px rgb(158, 55, 202) inset;
    color:  rgba(158, 55, 202, 1);
  }
}

.music-player-label {
  font-family: "Jetbrains Mono";
  font-size: 1.1em;
  font-weight: 600;
}

.music-slider {
  color: yellow;
}
